@import url(https://fonts.googleapis.com/css?family=Raleway:200,700,900);

:root{
  font-family:'Raleway', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:#f2efed;
}

.App{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.App > div {
  min-width:850px;
}

.filter{
  flex-grow:1;
  flex-shrink: 0;
  flex-basis:200px;
}

.content{

  position:absolute;
  top:10%;
  width:60%;
  height:80%;

  border-radius: 10px;
  box-shadow: 0.8px 0.8px 5px grey;

  overflow-y:scroll;
  
  background-color:white;
}

.filters input{
  border:none;
  box-sizing: border-box;
  margin-left:13px;
  margin-top:8px;
  font-family:'Raleway', sans-serif;

  color:black;
  font-size: 20px;

  width:97%;
  height:50px;

  border-bottom:solid 1px rgb(218, 216, 216);

}

  .filters input:focus{
    outline:none;
    border-bottom:0.5px solid black;
  }

.student_list{
  height:100%;
}


