@import url(https://fonts.googleapis.com/css?family=Raleway:200,700,900);
:root{
  font-family:'Raleway', sans-serif;
}


.Student{
  display: flex;
  height:auto;
  background-color:white;
  border-bottom:solid 1px rgb(218, 216, 216);
}

#name{
  font-size: 40px;
  font-weight:600;
  letter-spacing: -1px;
}

.photo{
  position: relative;
  width:20%;
  float:left;
  height:10%;
  z-index:2;
  background-color: white;
}

.photoContainer{  
  position: relative;
  width:125px;
  height:125px;

  margin-top:17%;
  margin-left:auto;
  margin-right:auto;
  
  border-radius: 50%;
  border:0.5px solid lightgrey;
  background-color: transparent;

}


  img{
    position: relative;
    margin-left:auto;
    margin-right:auto; 
    width:100%;
    border-radius: 50%;
    z-index:-1;
  }

.data{
  position: relative;
  margin-top:20px;
  margin-bottom: 10px;
  line-height: 0.5;
  width:50%;
  float:right;
  font-size: 15px;
  text-indent: 25px;
  z-index: 1;

}


.data #name{
  line-height:1;
  margin-top:25px;
  margin-bottom:30px;

  text-indent:0;

}

.button{
  position:relative;
  right:0;
  margin-right:5px;
}

form{
  margin-top:50px;
  margin-bottom:50px
}

.Student input{
  border:none;
  height:25px;
  width:140px;

  font-family:'Raleway', sans-serif;
  font-size:15px;
  padding-bottom:8px;
  text-indent: 3px;

  background-color: transparent;
  border-bottom:0.5px solid lightgrey;
}

.Student input:focus{
  outline:none;
  border-bottom:0.5px solid black;


}

.Student input:active{
  background-color: transparent;

}

[id^="hidden_"]{
  display:none;
}

.tag{
  display: inline-block;
  position: relative;
  margin-right:7px;
  margin-bottom:7px;
  left:25px;

  width:auto;
  height:auto;
  
  background-color:rgb(233, 233, 233);
  border-radius:3px;
}


.tag p {
  margin-right:auto;
  margin-left:auto;
  padding-right: 20px;
}



.expand-btn{
  position: relative;
  left:200px;
  margin-top:30px;
  
  width:35px;
  height:7px;
  border-radius: 3px;

  background-color:rgb(192, 192, 192);

}

.expand-btn_vert{
  display: table;
  margin-top:-14px;
  margin-left:14px;

  width:7px;
  height:35px;
  border-radius: 3px;

  background-color:inherit;

}

.expand-btn:hover{
  background-color: black;
}

